method monte
steps 25000
eqilsteps 1000
distanceupdate 1000
distanceratio 50
temperature 1300
symmetry vectors   #adjust lattice vectors independently during volume moves
move volume 10     #indicates that volume moves are required at
move atoms 1 50
K
move swap 1 50
Al Si
close
