__pycache__
__pycache__/.gitignore'
__pycache__/energy.cpython-312.pyc'
__pycache__/field.cpython-312.pyc'
__pycache__/job_control.cpython-312.pyc'
__pycache__/species.cpython-312.pyc'
__pycache__/statistics.cpython-312.pyc'

